p {
	color: honeydew;
	font-size: 20px;
}
.navbar-brand {
	color: black !important;
}

.nav-link:not(:hover) {
	color: #e2e2e2;
}

.nav-link:hover {
	color: black;
}

a.active {
	color: black !important;
}

.container {
	padding-top: 10px;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
	background-image: url("../media/background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
	min-height:100vh;
}

.jumbotron {
	background-color: white !important;
}

#nav {
	background-color: #A3C6C4 !important;
	opacity: 0.94;
}

.tables {
	background-color:rgba(255,255,255,0.15);
	margin-bottom: 100px;
	padding-top: 75px;
	display: flex;
}
.tables iframe {
	border: none;
	display: inline-block;
}
.tables table {
	display: inline-block;
}

td:hover {
	background-color: rgba(255,215,0,0.2);
}

td.clicked {
	background-color: gold;
}
